<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Strona wypożyczalni jachtów" />
    <meta name="author" content="Bartłomiej Klimowski" />
    <title>YachtoPol - Wypożyczalna Jachtów</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container px-5">
        <a class="navbar-brand" href="{{ url_for('index')}}">YachtoPol</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('yachts')}}">Jachty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('calendar')}}">Terminy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about')}}">O firmie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact')}}">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">{% block content %} {% endblock %}</div>

    {% block footer %}
    <!-- Footer-->
    <footer class="py-5 bg-primary">
      <div class="container px-5">
        <p class="m-0 text-center text-white">
          Copyright &copy; YachtoPol 2023
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.0/vis-timeline-graph2d.min.js"
      integrity="sha512-tVMVzifzFCw9U/5PlCfcckU5cvpoKdy70IobGHqsEQwh+bpXzIoMzjJkr8nOaEtl6y6GxlXy/XI4keJ1m0jnQg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.0/vis-timeline-graph2d.css"
      integrity="sha512-ND/m46h4YQ5MVBn+wT091bhNtWogJBFYPHbDvY9yMdbiMSQRhzKkE1kGXgNsO1WUtjAAF8bmQSf3ggehyppAyQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% endblock %}
  </body>
</html>
