{% extends "base.html" %} {%block content%}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.0/vis-timeline-graph2d.min.js"
  integrity="sha512-tVMVzifzFCw9U/5PlCfcckU5cvpoKdy70IobGHqsEQwh+bpXzIoMzjJkr8nOaEtl6y6GxlXy/XI4keJ1m0jnQg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.0/vis-timeline-graph2d.css"
  integrity="sha512-ND/m46h4YQ5MVBn+wT091bhNtWogJBFYPHbDvY9yMdbiMSQRhzKkE1kGXgNsO1WUtjAAF8bmQSf3ggehyppAyQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5 px-5">
    <div id="visualization"></div>
  </div>
</section>

<script>
  var container = document.getElementById("visualization");
  var options = {
    stack: true,
    maxHeight: 900,
    verticalScroll: true,
    zoomKey: "ctrlKey",
    orientation: {
        axis: "both",
        item: "top",
      },
  };

  var timeline = new vis.Timeline(container)
  timeline.setOptions(options)
  timeline.setItems(new vis.DataSet({{ dates|safe }}))
  timeline.setGroups(new vis.DataSet({{ groups|safe }}))
</script>

{% endblock %}
