{% extends "base.html" %} 
{%block content%}
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">

      {% for yacht in yachts %}

      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h4 text-center""><i>{{ yacht.name }}</i></h2>
        <div class = "m-2">
          <img
            src="https://www.reuters.com/resizer/NL9wktKFw6F5hZJUdOpmTToryzg=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/RP3JYYZ4M5MCLBKIGATSQVHIOI.jpg"
            class="center"
          />
        </div>
        <ul class="list-group m-2">
          <li class="list-group-item"><b>Typ kadłuba:</b> <i>{{ yacht.hull_type }}</i></li>
          <li class="list-group-item"><b>Całkowita długość:</b> <i>{{ yacht.length_overall }}</i></li>
          <li class="list-group-item"><b>Szerokość całkowita:</b> <i>{{ yacht.beam }}</i></li>
          <li class="list-group-item"><b>Zanurzenieć:</b> <i>{{ yacht.draft }}</i></li>
          <li class="list-group-item"><b>Takielunek:</b> <i>{{ yacht.rigging_type }}</i></li>
          <li class="list-group-item"><b>Data pierwszej budowy:</b> <i>{{ yacht.first_built.date() }}</i></li>
        </ul>
      </div>

      {% endfor %}      


    </div>
  </div>
</section>
{%endblock%}
